.text {
    color: white;
    font-family: sans-serif;
    margin: 0px auto;
}
body {
    width: 100%;
}
.container {
    width: 100%;
    height: 100vh;
}
.container_left {
    width: 25%;
    display: inline-block;
    float: left;
}
.container_right {
    width: 75%;
    display: inline-block;
    float: left;
}
.box {
    margin: 5px;
}
.logo {
    background-color: orange;
    height: 10%;
    margin-bottom: 10px;
}
.sidebar {
    background-color: green;
    height: 31%;
}
.header {
    background-color: palevioletred;
    height: 10%;
}
.left_subcontainer {
    width: 70%;
    height: 100%;
    float: left;
}
.promo {
    background-color: blue;
    height: 10%;
}
.left_side {
    width: 50%;
    height: 90%;
    float: left;
}
.news {
    background-color: rgba(255, 0, 0, 0.938);
    height: 10%;
}
.ads {
    background-color: palevioletred;
    height: 10%;
}
.right_side {
    width: 50%;
    height: 90%;
    float: left;
}
.content {
    background-color: rgba(109, 17, 17, 0.363);
    height: 22%;
}
.right_subcontainer {
    width: 30%;
    height: 100%;
    float: left;
}
.first_article {
    background-color: grey;
    height: 10%;
}
.second_article {
    background-color: orange;
    height: 10%;
}
.third_article {
    background-color: green;
    height: 10%;
}